* {
    padding: 0;
    margin: 0;
}

.bottom-img{
    position: fixed;
    bottom: 0;
    z-index: 10;
}

.bottom-img > img {
    opacity: 0.5;
}

body {
    background: rgb(73, 70, 70, 0.8);
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

body::after {
    content: '';
    position: fixed;
    height: 100vh;
    width: 100%;
    background-image: url(images/bg-stars.svg);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    z-index: 0;

}


h1 {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    margin: 40px;
    text-align: center;
    color: rgb(255, 255, 255);
    display:flex;
    justify-content: center;
    align-items: center;
}

h1 > span {
    color: rgb(219, 75, 75);
    margin-left: 12px;
}

p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

.list-conatiner {
    position: absolute;
    top: 0;
    z-index: 50;
}

.container {
    background: rgba(8, 8, 8, 0.2);
    padding: 20px 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px 50px;
    padding: 80px 40px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    z-index: 50;
}

form {
    width: 100%;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    background: rgb(36, 34, 34, 0.5);
    color: white;
    border-radius: 4px 8px;
    border: none;
    margin: 10px 0;
    padding: 5px 8px;
    transition: all 0.4s ease;
    padding: 8px 16px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);

}

input[type = submit]{
    background: rgb(219, 75, 75);
    color: white;
    font-weight: bold;
    transition: all 0.4s ease;
}

#save:hover {
    background: rgba(241, 122, 122, 0.959);
    color: black;

}

input:hover {
    border: 2px blue solid;
}

.title {
    background: rgb(230, 70, 70);
    text-align: center;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 20px;
}

.contain-all {
    background: rgb(34, 32, 32, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid red;
    padding: 40px;
    margin: 50px;
    border-radius: 50px 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 50;
}


.username-list, .email-list, .password-list {
    font-family: monospace;
    background: rgba(187, 204, 92, 0.8);
    padding: 5px 15px;
    margin-top: 20px;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.username-list {
    color: rgb(8, 97, 8);
}

.password-list {
    color: rgb(177, 20, 20);
}

.email-list {
    color: rgb(57, 8, 97);
}

@media  (min-width: 800px){
    .container {
        flex-direction: row;
        width: 60%;
        padding: 10px;
    } 

    form {
        flex-direction: row;
        flex-wrap: wrap;
    }

    input {
        margin-left: 10px;
    }

    .list-items {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .username-list, .email-list, .password-list {
        margin: 0 30px;
        font-size: 16px;
    }

    .title {
        margin: 16px;
        font-size: 16px;
    }

    .contain-all {
        padding: 20px;
    }
    
}